<%- include('_layouts/header')  -%>

<main>
    <section>
    Name:<%= name%><br>
    Phone:<%= phone%><br>
    Email:<%= email%><br>
    PostCode:<%= postcode%><br>
    Address:<%= address%><br>
    City:<%= city%><br>
    Province:<%= province%><br>
    Delivey Day:<%= day%><br>
    <br><br>
    You selected <%= car%> X<%= quantities%><br>
    Price:<%= price%><br>
    Tax:<%= ptax%>%<br>
    <br>
    Total:<%= total%><br>
    </section>
</main>

<%- include('_layouts/footer')  -%>