<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Contact Name: <%= Contact.name %></h1>
        <h2>Phone: <%= Contact.phone %></h2>
        <h2>Quantity of apples: <%= Contact.qty %></h2>
        <h2>Message: <%= Contact.message %></h2>
        <img src="/contact_images/<%=Contact.mypic %>">
    </section>
</main>
<%- include('_layouts/footer') -%>